<form class="form-contato" [formGroup]="form" (ngSubmit)="submitForm()">
  <label>
    Empresa
    <select formControlName="IdEmpresa" >
      <option value="" disabled selected>Selecione uma empresa</option>
      <option *ngFor="let empresa of listEmpresa" value="{{empresa.id}}">{{empresa.nomeFantasia}}</option>
    </select>
  </label>
  <label>
    Nome
    <input type="text" formControlName="nomePessoa" />
  </label>
  <label>
    E-mail
    <input type="email" formControlName="email" />
  </label>
  <label>
    Assunto
    <input type="text" formControlName="assunto" />
  </label>
  <label>
    Mensagem
    <textarea rows="5" formControlName="mensagem"> </textarea>
  </label>
  <div class="errors">
    <span class="error" *ngIf="form.get('nomePessoa')?.invalid && form.get('nomePessoa')?.touched">O campo "Nome" é obrigatório!</span>
    <span class="error" *ngIf="form.get('email')?.dirty && form.get('email')?.touched && form.get('email')?.invalid">O campo "E-mail" é obrigatório!</span>
    <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">O campo "E-mail" deve ser valido!</span>
    <span class="error" *ngIf="form.get('assunto')?.invalid && form.get('assunto')?.touched">O campo "Assunto" deve ser valido!</span>
    <span class="error" *ngIf="form.get('mensagem')?.invalid && form.get('mensagem')?.touched">Digite a sua Mensagem!</span>
    <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
  </div>
  <button [disabled]="form.invalid">Enviar</button>
</form>
