.form-contato {
  background-color: #f8f9fa;
  color: #007bff;
  padding: 20px;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    outline: none;
   }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    resize: vertical;
    outline: none;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
}
