<form class="form-cadastro" [formGroup]="form" (ngSubmit)="submitForm()">
  <label>
    Razão Social*
    <input type="text" formControlName="razaoSocial" />
  </label>
  <label>
    Nome Fantasia*
    <input type="email" formControlName="nomeFantasia" />
  </label>
  <label>
    E-mail*
    <input type="email" formControlName="email" />
  </label>
  <label>
    CNPJ*
    <input type="text" formControlName="cnpj" mask="00.000.000/0000-00" />
  </label>
  <div class="errors">
    <span class="error" *ngIf=" form.get('razaoSocial')?.invalid && form.get('razaoSocial')?.touched">O campo "Razão Social" é obrigatório!</span>
    <span class="error" *ngIf="form.get('nomeFantasia')?.invalid && form.get('nomeFantasia')?.touched">O campo "Nome Fantasia" é obrigatório!</span>
    <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">O campo "E-mail" deve ser valido!</span>
    <span class="error" *ngIf="form.get('cnpj')?.invalid && form.get('cnpj')?.touched">O campo "E-mail" é obrigatório!</span>
    <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
  </div>
  <button [disabled]="form.invalid">Enviar</button>
</form>
