.table-responsive {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  border-radius: 15px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #007bff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #007bff;
  }
}

table {
  min-width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  margin: 0 auto;
  border-radius: 15px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e9ecef;
  }

  th {
    color: #007bff;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}
