<form class="form-contato" [formGroup]="form" (ngSubmit)="submitForm()">
  <label>
    Empresa
    <select formControlName="IdEmpresa" >
      <option value="" disabled selected>Selecione uma empresa</option>
      <option *ngFor="let empresa of listEmpresa" value="{{empresa.id}}">{{empresa.nomeFantasia}}</option>
    </select>
  </label>
  <label>
    Nome
    <input type="text" formControlName="nomePessoa" />
    <span
      class="errors"
      *ngIf="form.get('nomePessoa')?.invalid && form.get('nomePessoa')?.touched"
    >
      Nome é obrigatório.
    </span>
  </label>
  <label>
    E-mail
    <input type="email" formControlName="email" />
    <span
      class="errors"
      *ngIf="
        form.get('email')?.dirty &&
        form.get('email')?.touched &&
        form.get('email')?.invalid
      "
    >
      E-mail é obrigatório.
    </span>
    <span
      class="errors"
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      E-mail deve ser valido!
    </span>
  </label>
  <label>
    Assunto
    <input type="text" formControlName="assunto" />
    <span
      class="errors"
      *ngIf="form.get('assunto')?.invalid && form.get('assunto')?.touched"
    >
      Assunto deve ser valido!
    </span>
  </label>
  <label>
    Mensagem
    <textarea rows="5" formControlName="mensagem"> </textarea>
    <span
      class="errors"
      *ngIf="form.get('mensagem')?.invalid && form.get('mensagem')?.touched"
    >
      Digite a sua Mensagem.
    </span>
  </label>
  <button [disabled]="form.invalid">Enviar</button>
</form>
